*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.cont-404{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cont-404 img{
    height: 70vh;
    width: 500vw;
}